#window_toolbar{
    position: absolute;
    top:0;
    right: 0;
    z-index: 9999;
    opacity: 1;
    height: 22px;
    display: inline-block;
    vertical-align: text-top;
}
#window_toolbar.fadein{
    opacity: 1;
}
#window_toolbar.fadeout{
    opacity: 0;
    top:-38px
}