#window_toolbar{
    position: absolute;
    top:0;
    right: 0;
    z-index: 9999;
    opacity: 1;
    height: 22px;
    display: inline-block;
    vertical-align: text-top;
    padding: 8px 10px;
}
#window_toolbar.fadein{
    opacity: 1;
}
#window_toolbar.fadeout{
    opacity: 0;
    top:-38px
}

#window_title{
    right:0;
    pointer-events: none;
    line-height: 23px;
    font-size: 10pt;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;   
     max-width: calc(100% - (var(--buttonlists) * 50px) - 8px);
    float: left;
}
#window_favicon{
    pointer-events: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px 0 auto;
    position: relative;
    top: 3px;
    background:#636363;
    background-color:#636363;
}

#window_toolbar{
    border:1px solid red;
    position:absolute;
    z-index: 999;
    height: 22px;
    width:calc(100vw - 22px);
    background:#636363;
    
   }
   #window_dragarea{
       position: absolute;
       width:100%;
       max-width:calc(100% - (var(--buttonlists) * 50px) - 8px);
       height: 100%;
       top: 0;
       left:0;
       -webkit-app-region:drag;
   }
.window_toolbar_movedown{
    opacity: 1 !important;
    
}
.window_toolbar_moveup{
    opacity: 0 !important;
    top:-38px !important;
}
.container_movedown{
    top:38px !important;
    height: calc(100% - 38px) !important;
}

#window_buttonlst{
    float:right;

}