#window_toolbar{
    position: absolute;
    top:0;
    right: 0;
    z-index: 9999;
    opacity: 1;
    height: 24px;
    display: inline-block;
    vertical-align: text-top;
    padding: 8px 10px;

    width:calc(100vw - 20px);
    background:#636363;
}

#window_toolbar.fadein{
    opacity: 1;
}
#window_toolbar.fadeout{
    opacity: 0;
    top:-38px
}

#window_title{
    right:0;
    pointer-events: none;
    line-height: 23px;
    font-size: 10pt;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;   
     max-width: calc(100% - (var(--buttonlists) * 50px));
    float: left;
}
#window_favicon{
    pointer-events: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px 0 auto;
    position: relative;
    top: 3px;
    background:#636363;
    background-color:#636363;
}


   #window_dragarea{
       position: absolute;
       width:100%;
       max-width:calc(100% - (var(--buttonlists) * 32px));
       height: 100%;
       top: 0;
       left:0;
       -webkit-app-region:drag;
   }
.window_toolbar_movedown{
    opacity: 1 !important;
    
}
.window_toolbar_moveup{
    opacity: 0 !important;
    top:-38px !important;
}
.container_movedown{
    top:38px !important;
    height: calc(100% - 38px) !important;
}

#window_buttonlst{
    float:right;
    height: 100%;
}

.window_btn{
    border:none;
    cursor: pointer;
    vertical-align: middle;
    height: 100%;
    width:24px;
    margin:0 3px;
    cursor:pointer;
    outline:0;
    filter: brightness(0.9);
    -webkit-transition:filter 2s, -webkit-transform 2s;
    transition: filter 2s, transform 2s;
}
.window_btn:hover{
    filter: brightness(1.75);
}
#fix_window_btn{
    background: url("../image/pick.png") no-repeat;
}
#setting_window_btn{
    background: url("../image/settings_24.png") no-repeat;
}
#close_window_btn{
    background: url("../image/close_24.png") no-repeat;
}
#fix_window_btn{
    background:url("../image/fixoff_24.png") no-repeat;
}
#underbar_window_btn{
    background:url("../image/under_24.png") no-repeat;
}
.fixed{
    background:url("../image/fixon_24.png") no-repeat !important;
}